@import "constants.scss";

body {
  font-size: 0.9em;
  font-family: "Open Sans", sans-serif;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-right: 5px;
}

.logo-image {
  height: 30px;
  width: 30px;
}

.nav-container {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}


.nav {
  margin-left: 2px;
  margin-right: 4px;
  margin-bottom: 4px;
  
  a:link, a:visited {
    text-decoration: none;
    color: white;
  }
}

.nav .active {
  background-color: $green;
}

.nav a:hover {
  background-color: $green;
}

.nav a {
  text-decoration: none;
  color: white;
  background-color: $darkgreen;
  padding: 4px 5px;
  border-radius: 4px;
}

.author-contact {
  float: right;
}

.browse {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;

  @media only screen and (max-width: $phone) {
    flex-direction: column;
    align-items: center;
  }
}

.map {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.map-container {
  margin: 8px;
  height: 80vh;
  flex: 3;
  @media only screen and (max-width: $phone) {
    height: 53vh;
    width: 98%;
  }
  position: relative;
  
  a:hover {
    background-color: $green;
  }
}
