@import "constants.scss";

th {
  padding: 8px;
}
table, td {
  border-collapse: collapse;
  padding: 5px;
  border-width: 1px 0px;
  border-color: gray;
  border-style: solid;
}
td, th {
  height: 35px;
}

.route-name {
	margin-right: 4px;
  span {
    color: white;
    padding: 1px;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    border-radius: 10px;
  }
}

/**
 * Hover and click on table row
 */
@mixin clickable() {
	cursor: pointer;
	cursor: hand;
}

.clickable {
	@include clickable();
}
.clickable-row {
	@include clickable();
}

.clickable-row:hover {
	background-color: whitesmoke;
}

.selected {
  background-color: gainsboro;
}

.selected:hover {
  background-color: gainsboro;
}

/**
 * User location button 
 */
.location-arrow {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 8px;
}

.location-button {
  position: absolute;
  bottom: 126px;
  right: 5px;
  background-color: $darkgreen;
  width: 38px;
  height: 38px;
  background-image: url("../img/location-icon.png");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.stop-details {
  table-layout: fixed;
  width: 100%;
  // Stop details table should be on the bottom when there's only one column

  th.stop-details-header {
    background-color: $green;
    color:white;
    font-weight:400;
    height: 17px;
  }
}

/**
 * Table row 
 */
tr {
  word-wrap: break-word;
}

.route-details {
  display: flex;
  align-items: center;
}

/**
 * "More info" button 
 */
.end {
  text-align: right;
  flex: 1;
}

.more-info {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  opacity: .75;
}

.more-info:hover {
  opacity: 1;
}

/**
 * Schedule summary label
 */
.schedule-summary {
  font-size: 0.8em;
  color: gray;
}

.table-container {
  
  flex: 2;
  min-width: 295px;
  width: 33%;
  height: 80vh;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch; /* provides inertial scrolling */

  display: inline-block;
  margin: 8px;
  
  @media only screen and (max-width: $phone) and (orientation: portrait) {
    margin: 0px;
    order: 1;
    align-content: center;
    width: 98%;
    height: 33vh;
  }
}
