// Variables
$phone: 768px;
$lightgreen: #A1CDCB;
$darkgreen: #26706D;
$green: #6CA7A5;

body {
  font-size: 90%;
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
}

.logo {
  margin-right: 5px;
}

.logo-image {
  height: 30px;
  width: 30px;
}

.app-store-logo {
  height: 40px;
  width: 135px;
}

.nav-container {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}

.nav {
  margin: 0px 2px;
  a:link, a:visited {
    text-decoration: none;
    color: white;
  }
}

.end {
  text-align: right;
  flex: 1;
}

.nav .active {
  background-color: $green;
}

.nav a:hover {
  background-color: $green;
}

.nav a {
  text-decoration: none;
  color: white;
  background-color: $darkgreen;
  padding: 5px 5px;
  border-radius: 4px;
}

.author-contact {
  float: right;
}

table, th, td {
  border-collapse: collapse;
  padding: 10px;
  border-width: 1px 0px;
  border-color: gray;
  border-style: solid;
}

.table-favorites {
	width: 300px;
  margin: 10px;
	td {
		padding-top: 5px;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
	}
  thead {
    text-align: center;
    font-weight: bold;
  }
}

.route-name {
	color: white;
	padding: 1px;
	margin-right: 4px;
	width: 50px;
	text-align: center;
	display: inline-block;
	border-radius: 10px;
}

.favorite-route {
	margin-top: 2px;
	margin-bottom: 2px;
	position: relative;
}

.distance {
	color: gray;
	font-size: 0.7em;
	position: absolute;
	bottom: 0;
	right: 0;
}

.favorite-row {
	cursor: pointer;
	cursor: hand;

}

.clickable {
	cursor: pointer;
	cursor: hand;
}

.favorite-row:hover {
	background-color: whitesmoke;
}

.location-arrow {
	width: 15px;
	height: 15px;
	position: absolute;
	right: 8px;
}

.map-container {
  margin: 8px;
  height: 80vh;
  flex: 3;
  @media only screen and (max-width: $phone) and (orientation: portrait) {
    height: 60vh;
    width: 90vw;
  }
  position: relative;
}

.location-button {
  position: absolute;
  bottom: 126px;
  right: 7px;
  background-color: $darkgreen;
  width: 34px;
  height: 34px;
  background-image: url("../img/location-icon.png");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}

a:hover {
  background-color: $green;
}

// TODO: flexbox to make map look good
.browse {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;

  @media only screen and (max-width: $phone) and (orientation: portrait) {
    flex-direction: column;
    align-items: center;
  }
}

.stop-details {
  flex: 1;
  min-width: 33%;
  margin: 8px;

  // Stop details table should be on the bottom when there's only one column
  @media only screen and (max-width: $phone) and (orientation: portrait) {
    order: 1;
    width: 90%;
  }

  th.stop-details-header {
    background-color: $green;
    color:white;
    font-weight:400;
  }
}