html {
    body {
        font-size: 90%;
        font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
    }

    table, th, td {
		border-collapse: collapse;
	    padding: 10px;
	    border-width: 1px 0px;
	    border-color: gray;
	    border-style: solid;
    }

    .table-favorites {
    	width: 300px;

    	td {
    		padding-top: 5px;
    		padding-left: 5px;
    		padding-right: 5px;
    		padding-bottom: 5px;
    	}
    }

    .route-name {
    	color: white;
    	padding: 1px;
    	margin-right: 4px;
    	width: 50px;
    	text-align: center;
    	display: inline-block;
    	border-radius: 6px;
    }

    .favorite-route {
    	margin-top: 2px;
    	margin-bottom: 2px;
    	position: relative;
    }

    .distance {
    	color: gray;
    	font-size: 0.7em;
    	position: absolute;
    	bottom: 0;
    	right: 0;
    }

    .favorite-row {
    	cursor: pointer;
    	cursor: hand;

    }

    .favorite-row:hover {
    	background-color: whitesmoke;
    }

    .location-arrow {
  		width: 15px;
  		height: 15px;
  		position: absolute;
  		right: 8px;
    }

    .map-container {
      height: 500px;
    }
}
